<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" ><a routerLink="/entries">lançamento</a> </li>
    </ol>
</nav>
    
<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
    </div>
    <div class="col-md">
        <a class="btn btn-ligth float-right" routerLink="/entries">
            << Voltar
        </a>
    </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">Informações sobre o lançamento</div>
        <div class="card-body">
            <div class="form-row">
                <!-- tipo -->
                <div class="form-group col-md-2">
                    <label for="type">Tipo</label>
                    <select formControlName="type" type="text" id="type" class="form-control">
                        <option *ngFor="let option of typeOptions" [value]="option.key">{{option.value}}</option>
                    </select>
                    <div class="alert-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').touched ">
                        Campo obrigatório
                    </div>
                </div>
                <!-- Lançamento -->
                <div class="form-group col-md-5">
                    <label for="name">Lançamento</label>
                    <input formControlName="name" type="text" id="name" class="form-control">
                </div>

                <!-- Valor -->
                <div class="form-group col-md-2">
                    <label for="amount">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [imask]="imaskConfig" formControlName="amount"  id="amount" class="form-control text-right">
                    </div>
                    
                </div>

                <!-- Data -->
                <div class="form-group col-md-2">
                    <label for="date">Data</label>
                    <p-calendar formControlName="date"
                    formControlName="date"
                    inputStyleClass="formControl"
                    dataType="string"
                    dateFormat="dd/mm/yy"
                    [locale]="ptBr"
                    [showButtonBar]="true">
                    </p-calendar>
                </div>

                 <!-- Pago -->
                 <div class="form-group col-md-2 mr-3" >
                    <label for="paid">Pago</label>
                    <div class="btn-group">
                        <label  (click)="resourceForm.get('paid').setValue(true)" [class.active]="resourceForm.get('paid').value == true" for="pago" class="btn btn-outline-info">
                            Pago
                        </label>

                        <label (click)="resourceForm.get('paid').setValue(false)" [class.active]="resourceForm.get('paid').value == false" for="pendente" class="btn btn-outline-info">
                            Pendente
                        </label>
                    </div>
                    
                </div>
                <!-- categoryId -->
                <div class="form-group col-md-2">
                    <label for="categoryId"> Categoria</label>
                    <select class="form-control" formControlName="categoryId">
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>
                <!-- Descrição  -->
                <div class="form-group col-md-7">
                        <label for="description"> Descrição</label>
                        <input formControlName="description" type="text" class="form-control" id="description">
                </div>
            </div>
        </div>
    </div>
    <button [disabled]="submitingForm || resourceForm.invalid" class="btn btn-primary btn-lg float-right mt-3" type="submit">Salvar</button>
</form>





